<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
    <td><a href=<%="/profiles/#{profile.id}"%>><%= profile.fullname %></td>
    </tr>
    <% end %>
  </tbody>
</table>