<h1 class="page-header">Alumni Index</h1>
<div>
<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <div ng-app="app">
      <div ng-controller="profilesCtrl">
  {{ message }}
  </div>
</div>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
    <td><a href=<%="/profiles/#{profile.id}"%>><%= profile.fullname %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>