
<div>
  <div>
    <h1>Search page</h1>
 <form>
    <div class="form-group col-xs-12">
      <div class="input-group col-xs-12 pull-left">
        <div class="input-group-addon">Quick Search</div>

        <input type="text" class="form-control" placeholder="Search alumni" ng-model="searchTerm">
      </div>      
       
    </div>
  </form>   
    <div class="col-xs-12">
    <% if current_user && current_user.admin == false %>
        <h2>Hello regular user</h2>
    <% elsif current_user == false %>
    <h1>Restricted Area please sign up!</h1>
    <% elsif current_user.admin %>
    <h1>Hello Admin</h1>
    <% end %>    
        <div class="">        
          <table class="table table-hover">
            <thead>          
              <tr>
                <th ng-hide="viewable()">Id</th>
                <th ng-hide="viewable()">Address 1</th>
                <th ng-hide="viewable()">Address 2</th>
                <th ng-hide="viewable()">Zip</th>
                <th ng-hide="viewable()">County</th>
                <th ng-hide="viewable()">phone(h)</th>
                <th ng-hide="viewable()">phone(w)</th>
                <th ng-hide="viewable()">phone(c)</th>
                <th ng-hide="viewable()">gender</th>
                <th ng-hide="viewable()">DOB</th>
                <th ng-hide="viewable()">Ethnicity</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Site</th>
                <th>Cohort</th>
                <th>City</th>
                <th>State</th>
                <th>School Name</th>
                <th>Stem Major</th>
                <th>Graduated College</th>
                <th>Employer</th>
                <th>Job Title</th>
                <th>Grad School</th>
                <th>Grad School Major</th>
                <th>Current City</th>
                <th>Current State</th>
                <th>Linkedin</th>
                <th>Career Interest</th>
                <th>Networking Interest</th>
              </tr>
            </thead>
      
      <!-- filter by searchTerm // only display data that matches input searchTerm -->
  
       <tr ng-repeat="profile in profiles | filter:searchTerm">
          <td ng-hide="viewable">{{profile.firstname}}</td>
          <td>{{profile.lastname}}</td>
          <td>{{profile.email}}</td>
          <td>{{profile.site}}</td>
          <td>{{profile.cohort}}</td>
          <td>{{profile.city}}</td>
          <td>{{profile.state}}</td>
          <td>{{profile.schoolname}}</td>
          <td>{{profile.stemmajor}}</td>
          <td>{{profile.graduatedcollege}}</td>
          <td>{{profile.employer}}</td>
          <td>{{profile.grad_school}}</td>
          <td>{{profile.grad_school_major}}</td>
          <td>{{profile.current_city}}</td>
          <td>{{profile.current_state}}</td>
          <td>{{profile.linkedin}}</td>
          <td>{{profile.career_areas_of_interest}}</td>
          <td>{{profile.interested_in_networking_opportunities}}</td>
        </tr>

          </table>
        </div>
  
      </div>  
    </div> <!-- end of row -->


