
<div>
  <div>
    <h1>Search page</h1>
    {{allen}}
 <form>
    <div class="form-group col-xs-12">
      <div class="input-group col-xs-12 pull-left">
        <div class="input-group-addon">Quick Search</div>

        <input type="text" class="form-control" placeholder="Search alumni" ng-model="searchTerm">
      </div>      
       
    </div>
  </form>   
    <div class="col-xs-12">

      <!-- ##### BEGIN ADMIN SEARCH VIEW ##### -->  

      <% if current_user.admin %>
      <h2>Hello admin</h2>

      <table class="table table-hover">
        <thead>          
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Site</th>
            <th>Cohort</th>
            <th>City</th>
            <th>State</th>
            <th>School Name</th>
            <th>Attending College</th>
            <th>Stem Major</th>
            <th>Graduated College</th>
            <th>Employment</th>
            <th>Job Title</th>
            <th>Grad School</th>
            <th>Grad School Major</th>
            <th>Current City</th>
            <th>Current State</th>
            <th>Linkedin</th>
            <th>Career Interest</th>
            <th>Networking Interest</th>
          </tr>
        </thead>

      <!-- filter by searchTerm // only display data that matches input searchTerm -->
  
       <tr ng-repeat="profile in profiles | filter:searchTerm">
          <td>{{profile.firstname}}</td>
          <td>{{profile.lastname}}</td>
        </tr>


        <% else %>

        <!-- ##### BEGIN REGULAR SEARCH VIEW ##### -->

        <h2>Hello regular user</h2>
        <div class="">        
          <table class="table table-hover">
            <thead>          
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Site</th>
                <th>Cohort</th>
                <th>City</th>
                <th>State</th>
                <th>School Name</th>
                <th>Stem Major</th>
                <th>Graduated College</th>
                <th>Employer</th>
                <th>Job Title</th>
                <th>Grad School</th>
                <th>Grad School Major</th>
                <th>Current City</th>
                <th>Current State</th>
                <th>Linkedin</th>
                <th>Career Interest</th>
                <th>Networking Interest</th>
              </tr>
            </thead>
      
      <!-- filter by searchTerm // only display data that matches input searchTerm -->
  
       <tr ng-repeat="profile in profiles | filter:searchTerm">
          <td>{{profile.firstname}}</td>
          <td>{{profile.lastname}}</td>
          <td>{{profile.email}}</td>
          <td>{{profile.site}}</td>
          <td>{{profile.cohort}}</td>
          <td>{{profile.city}}</td>
          <td>{{profile.state}}</td>
          <td>{{profile.schoolname}}</td>
          <td>{{profile.stemmajor}}</td>
          <td>{{profile.graduatedcollege}}</td>
          <td>{{profile.employer}}</td>
          <td>{{profile.grad_school}}</td>
          <td>{{profile.grad_school_major}}</td>
          <td>{{profile.current_city}}</td>
          <td>{{profile.current_state}}</td>
          <td>{{profile.linkedin}}</td>
          <td>{{profile.career_areas_of_interest}}</td>
          <td>{{profile.interested_in_networking_opportunities}}</td>
        </tr>

          </table>
        </div>
        <% end %> <!-- end of if else for user -->
      </div>  
    </div> <!-- end of row -->


