// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alumni-table tr{
  margin: 10px;
}

#outPopUp {
  width: 800px;
  height: 1200px;
  overflow-y: auto;

  top: 50%;
  left: 50%;
  margin: auto;
}